################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/Procedural-Noise.sln
/Packages
/obj/Debug
/Logs
/Library
/Assembly-CSharp.csproj
/.vs/Procedural-Noise/v16/TestStore/0
